version: '3.9'

services:
  vmobile-visitor:
    build:
      context: .
      dockerfile: Dockerfile
    image: vmobile-visitor    
    container_name: vmobile-visitor
    ports:
      - "20509:20509"
    volumes:
      - ./backend/src/docImage:/app/backend/src/docImage
      - ./backend/src/logError:/app/backend/src/logError
    restart: always